body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
}

h1{
    /* background-color: #ffd300; */
    text-align: center;
    /* display: inline-block;
    height: 100px;
    width: 500px;
    vertical-align: middle;
    align-items: center; */
}
p{text-align: center;}

/* color: https://graf1x.com/shades-of-yellow-color-palette-chart/ */
div {
    box-sizing: border-box;
    display: inline-block;
    width: 250px;
    height: 150px;
    padding: 1%;
    margin: 10px;
    border: 1px solid #ffddaf;
    text-align: center;
    vertical-align: middle;
    transition: 1s ease;
}

/* div:nth-child(1) {margin-left: 100px}
div:nth-child(5) {margin-left: 100px}
div:nth-child(9) {margin-left: 100px; line-height: 25px} */

div:nth-child(9) {line-height: 25px;}

div:nth-child(1) {background-color: #f8de7e;}
div:nth-child(2) {background-color: #f9a602;}
div:nth-child(3) {background-color: #d2b55b;}
div:nth-child(4) {background-color: #f8e473;}
div:nth-child(5) {background-color: #daa520;}
div:nth-child(6) {background-color: #effd5f;}
div:nth-child(7) {background-color: #fcd12a;}
div:nth-child(8) {background-color: #ffc30b;}
div:nth-child(9) {background-color: #c49102;}
div:nth-child(10) {background-color: #fce205;}
div:nth-child(11) {background-color: #fda50f;}
div:nth-child(12) {background-color: #cc7722;}


div:hover {background-color: #f5f5dc;}

span {
    visibility: hidden;
    text-align: center;
    display: block;
}

div:focus>span{visibility: visible;}


